<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
		<img src="assets/img/mobike.png">
			<div text-center>
				<h4>Bem-vindo ao MOBIKE</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Senha"></ion-input>
				</ion-item>
			</div>

			<div padding>
        <ion-button size="large" expand="block" >ENTRAR</ion-button>
        <ion-button size="large" expand="block" (click)="redirectSignup()">Cadastro</ion-button>        
			</div>
		</ion-col>
	</ion-row>
</ion-grid>